@tailwind base;
@tailwind components;
@tailwind utilities;

label.drop-area {
    height: 150px;
    display: flex;
    width: 200px;
    border-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}